node-red/data/.flows.json.backup
[{"id":"dfe77d7b.48f78","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"df35c1c.f6d434","type":"tab","label":"MongoDB","disabled":false,"info":""},{"id":"5b23cafa.be4e04","type":"tab","label":"Redis","disabled":false,"info":""},{"id":"831f6c52.8309d","type":"redis-config","z":"","name":"redis-global","options":"{\"host\":\"redis\",\"port\":6379}","cluster":false,"optionsType":"json"},{"id":"24097ea.670af82","type":"mongodb3","z":"","uri":"mongodb://mongo:27017/nodered","name":"MongoDB","options":"","parallelism":"-1"},{"id":"b1b2b764.4f0438","type":"amqp2-server","z":"","host":"rabbitmq","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true},{"id":"5b4435c7.de45ac","type":"redis-instance","z":"5b23cafa.be4e04","server":"831f6c52.8309d","name":"","topic":"redis","location":"global","block":false,"x":70,"y":40,"wires":[]},{"id":"79b1db83.2a2f44","type":"debug","z":"5b23cafa.be4e04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":320,"wires":[]},{"id":"3c2b96c6.fd354a","type":"inject","z":"5b23cafa.be4e04","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":320,"wires":[["4f187c15.b50ea4"]]},{"id":"4f187c15.b50ea4","type":"redis-out","z":"5b23cafa.be4e04","server":"831f6c52.8309d","command":"rpush","name":"","topic":"test","x":390,"y":280,"wires":[]},{"id":"ccc4a980.222f98","type":"redis-in","z":"5b23cafa.be4e04","server":"831f6c52.8309d","command":"blpop","name":"","topic":"test","timeout":0,"x":390,"y":320,"wires":[["79b1db83.2a2f44"]]},{"id":"677105c9.f3b1ec","type":"inject","z":"5b23cafa.be4e04","name":"","topic":"","payload":"{\"a\":1,\"b\":2}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":280,"wires":[["4f187c15.b50ea4"]]},{"id":"53542ff2.7058d","type":"redis-command","z":"5b23cafa.be4e04","server":"831f6c52.8309d","command":"getset","name":"","topic":"timestamp","params":"[]","paramsType":"json","payloadType":"json","block":false,"x":370,"y":380,"wires":[["16ae416d.92585f"]]},{"id":"f3aebd8f.236ca","type":"inject","z":"5b23cafa.be4e04","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":380,"wires":[["53542ff2.7058d"]]},{"id":"16ae416d.92585f","type":"debug","z":"5b23cafa.be4e04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":380,"wires":[]},{"id":"7bae513d.e2106","type":"catch","z":"5b23cafa.be4e04","name":"","scope":null,"uncaught":false,"x":400,"y":220,"wires":[["fca68323.50a55"]]},{"id":"fca68323.50a55","type":"debug","z":"5b23cafa.be4e04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":220,"wires":[]},{"id":"9213522a.a573c","type":"redis-command","z":"5b23cafa.be4e04","server":"831f6c52.8309d","command":"set","name":"","topic":"","params":"[]","paramsType":"json","payloadType":"json","block":false,"x":320,"y":440,"wires":[["a85c833c.481c7"]]},{"id":"a7b7f792.5c6bc8","type":"inject","z":"5b23cafa.be4e04","name":"","topic":"","payload":"[\"key\",\"value\"]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":440,"wires":[["9213522a.a573c"]]},{"id":"a85c833c.481c7","type":"debug","z":"5b23cafa.be4e04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":440,"wires":[]},{"id":"829d531b.69a38","type":"redis-command","z":"5b23cafa.be4e04","server":"831f6c52.8309d","command":"getset","name":"","topic":"","params":"[]","paramsType":"json","payloadType":"json","block":false,"x":330,"y":500,"wires":[["d36b51b7.08704"]]},{"id":"8a9beb41.29c058","type":"inject","z":"5b23cafa.be4e04","name":"","topic":"key","payload":"[\"value\"]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":500,"wires":[["829d531b.69a38"]]},{"id":"d36b51b7.08704","type":"debug","z":"5b23cafa.be4e04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":500,"wires":[]},{"id":"f660b15f.29ee1","type":"redis-command","z":"5b23cafa.be4e04","server":"831f6c52.8309d","command":"hmset","name":"","topic":"","params":"[]","paramsType":"json","payloadType":"json","block":false,"x":330,"y":620,"wires":[["93dbf035.8aa2e"]]},{"id":"7f343ab5.005d84","type":"inject","z":"5b23cafa.be4e04","name":"","topic":"myHash","payload":"{\"a\":1,\"b\":2}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":620,"wires":[["f660b15f.29ee1"]]},{"id":"93dbf035.8aa2e","type":"debug","z":"5b23cafa.be4e04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":620,"wires":[]},{"id":"8b281c9.b1c7ae","type":"inject","z":"5b23cafa.be4e04","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":680,"wires":[["3f031b9f.c93ab4"]]},{"id":"f835fcc6.c14b1","type":"debug","z":"5b23cafa.be4e04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":680,"wires":[]},{"id":"3f031b9f.c93ab4","type":"redis-command","z":"5b23cafa.be4e04","server":"831f6c52.8309d","command":"hgetall","name":"","topic":"myHash","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":360,"y":680,"wires":[["f835fcc6.c14b1"]]},{"id":"8ea98a93.af7328","type":"inject","z":"5b23cafa.be4e04","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":740,"wires":[["c0c9595b.ed1e58"]]},{"id":"e3b616a4.560898","type":"debug","z":"5b23cafa.be4e04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":740,"wires":[]},{"id":"c0c9595b.ed1e58","type":"redis-command","z":"5b23cafa.be4e04","server":"831f6c52.8309d","command":"sadd","name":"","topic":"mySet","params":"[\"memberA\",\"memberB\",\"memberC\"]","paramsType":"json","payloadType":"json","block":false,"x":350,"y":740,"wires":[["e3b616a4.560898"]]},{"id":"cd4e05dc.956948","type":"redis-command","z":"5b23cafa.be4e04","server":"831f6c52.8309d","command":"get","name":"","topic":"","params":"[]","paramsType":"json","payloadType":"json","block":false,"x":320,"y":560,"wires":[["f2c53f13.340b3"]]},{"id":"b6186f77.88519","type":"inject","z":"5b23cafa.be4e04","name":"","topic":"key","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":560,"wires":[["cd4e05dc.956948"]]},{"id":"f2c53f13.340b3","type":"debug","z":"5b23cafa.be4e04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":560,"wires":[]},{"id":"f396856e.a45828","type":"redis-lua-script","z":"5b23cafa.be4e04","server":"831f6c52.8309d","name":"test","keyval":0,"func":"local text = \"Hello World\"\nreturn text","stored":true,"block":false,"x":310,"y":860,"wires":[["4ac84c72.2135b4"]]},{"id":"81eb0f01.ef80c","type":"inject","z":"5b23cafa.be4e04","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":860,"wires":[["f396856e.a45828"]]},{"id":"4ac84c72.2135b4","type":"debug","z":"5b23cafa.be4e04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":860,"wires":[]},{"id":"663cd95a.d9c278","type":"inject","z":"5b23cafa.be4e04","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":800,"wires":[["7f762687.afe078"]]},{"id":"5add4aec.f8b5f4","type":"debug","z":"5b23cafa.be4e04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":800,"wires":[]},{"id":"7f762687.afe078","type":"redis-command","z":"5b23cafa.be4e04","server":"831f6c52.8309d","command":"sismember","name":"","topic":"mySet","params":"[\"memberA\"]","paramsType":"json","payloadType":"json","block":false,"x":370,"y":800,"wires":[["5add4aec.f8b5f4"]]},{"id":"4768f0c6.3fb3d","type":"redis-lua-script","z":"5b23cafa.be4e04","server":"831f6c52.8309d","name":"test2","keyval":0,"func":"local text = \"Hello2222 World2222\"\nreturn text","stored":false,"block":false,"x":310,"y":920,"wires":[["8a3d0598.c22338"]]},{"id":"173e673.d8e4699","type":"inject","z":"5b23cafa.be4e04","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":920,"wires":[["4768f0c6.3fb3d"]]},{"id":"8a3d0598.c22338","type":"debug","z":"5b23cafa.be4e04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":920,"wires":[]},{"id":"d5598491.0f2828","type":"redis-in","z":"5b23cafa.be4e04","server":"831f6c52.8309d","command":"psubscribe","name":"","topic":"TOPIC:*","timeout":0,"x":400,"y":100,"wires":[["de8f1fcd.bcb7a"]]},{"id":"de8f1fcd.bcb7a","type":"debug","z":"5b23cafa.be4e04","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":100,"wires":[]},{"id":"5820bea8.941f8","type":"redis-in","z":"5b23cafa.be4e04","server":"831f6c52.8309d","command":"subscribe","name":"","topic":"TOPIC:OK","timeout":0,"x":400,"y":160,"wires":[["ab68bc5b.e3542"]]},{"id":"ab68bc5b.e3542","type":"debug","z":"5b23cafa.be4e04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":160,"wires":[]},{"id":"f4208e0e.ddca6","type":"redis-out","z":"5b23cafa.be4e04","server":"831f6c52.8309d","command":"publish","name":"","topic":"TOPIC:OK","x":130,"y":220,"wires":[]},{"id":"54919418.5e821c","type":"inject","z":"5b23cafa.be4e04","name":"","topic":"","payload":"{\"a\":1,\"b\":2}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":120,"wires":[["f4208e0e.ddca6"]]},{"id":"412514a.4223dec","type":"redis-command","z":"5b23cafa.be4e04","server":"831f6c52.8309d","command":"del","name":"","topic":"","params":"[]","paramsType":"json","payloadType":"json","block":false,"x":320,"y":980,"wires":[["c8f7cf48.9abc4"]]},{"id":"68d47271.466a5c","type":"inject","z":"5b23cafa.be4e04","name":"","topic":"key","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":980,"wires":[["412514a.4223dec"]]},{"id":"c8f7cf48.9abc4","type":"debug","z":"5b23cafa.be4e04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":980,"wires":[]},{"id":"ef8b585b.663748","type":"inject","z":"5b23cafa.be4e04","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":1080,"wires":[["5860ab7b.22cd14"]]},{"id":"5860ab7b.22cd14","type":"function","z":"5b23cafa.be4e04","name":"","func":"let redis = context.flow.get('redis');\n\nredis.info().then((data)=>{\n    msg.payload = data\n    node.send(msg);\n})\n\n/*\nredis.call(\"anycmd\").then((data)=>{\n    msg.payload = data\n    node.send(msg);\n})*/","outputs":1,"noerr":0,"x":310,"y":1080,"wires":[["e7ef3aa0.213588"]]},{"id":"e7ef3aa0.213588","type":"debug","z":"5b23cafa.be4e04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":1080,"wires":[]},{"id":"bb59637b.00d78","type":"mongodb3 in","z":"df35c1c.f6d434","service":"_ext_","configNode":"24097ea.670af82","name":"Insert","collection":"tester","operation":"findOne","x":430,"y":300,"wires":[["a71fbbd.1123448"]]},{"id":"55813dec.bd00e4","type":"inject","z":"df35c1c.f6d434","name":"Insert data","topic":"","payload":"{\"name\":\"maks\",\"age\":32}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":240,"wires":[["bb59637b.00d78"]]},{"id":"a71fbbd.1123448","type":"debug","z":"df35c1c.f6d434","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":380,"wires":[]},{"id":"8801c926.3a73c8","type":"amqp2 out","z":"dfe77d7b.48f78","name":"In","iotype":"4","ioname":"rad","server":"b1b2b764.4f0438","x":430,"y":140,"wires":[]},{"id":"a8d4105b.79e33","type":"inject","z":"dfe77d7b.48f78","name":"","topic":"rad","payload":"[{\"name\":\"queue1\",\"options\":{\"messageTtl\":60000}},{\"name\":\"queue2\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":100,"wires":[["8801c926.3a73c8"]]}]