node-red/data/flows.json
[{"id":"c28fc7d5.366e58","type":"tab","label":"Telegram","disabled":false,"info":""},{"id":"5b23cafa.be4e04","type":"tab","label":"Redis","disabled":false,"info":""},{"id":"17838c19.b5fd5c","type":"tab","label":"DileroBot","disabled":false,"info":""},{"id":"cfab6f58.ee43a","type":"tab","label":"PG","disabled":false,"info":""},{"id":"831f6c52.8309d","type":"redis-config","z":"","name":"redis-global","options":"{\"host\":\"redis\",\"port\":6379}","cluster":false,"optionsType":"json"},{"id":"24097ea.670af82","type":"mongodb3","z":"","uri":"mongodb://mongo:27017/nodered","name":"MongoDB","options":"","parallelism":"-1"},{"id":"aef21b2.aec0768","type":"telegram bot","z":"","botname":"Disaster Recovery Plan","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"413466d6.46be4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f9c6a0d0.e7aa1","type":"telegram bot","z":"17838c19.b5fd5c","botname":"DileroBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"","usesocks":false,"sockshost":"","socksport":"","socksusername":"","sockspassword":"","bothost":"","localbotport":"","publicbotport":"","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"1bccac7f.eab4ec","type":"postgresDB","z":"","name":"timescaledb","host":"timescaledb","port":"5432","database":"test_database","ssl":false,"max":"10","min":1,"idle":"1000"},{"id":"5b4435c7.de45ac","type":"redis-instance","z":"5b23cafa.be4e04","server":"831f6c52.8309d","name":"","topic":"redis","location":"global","block":false,"x":70,"y":40,"wires":[]},{"id":"79b1db83.2a2f44","type":"debug","z":"5b23cafa.be4e04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":320,"wires":[]},{"id":"3c2b96c6.fd354a","type":"inject","z":"5b23cafa.be4e04","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":320,"wires":[["4f187c15.b50ea4"]]},{"id":"4f187c15.b50ea4","type":"redis-out","z":"5b23cafa.be4e04","server":"831f6c52.8309d","command":"rpush","name":"","topic":"test","x":390,"y":280,"wires":[]},{"id":"ccc4a980.222f98","type":"redis-in","z":"5b23cafa.be4e04","server":"831f6c52.8309d","command":"blpop","name":"","topic":"test","timeout":0,"x":390,"y":320,"wires":[["79b1db83.2a2f44"]]},{"id":"677105c9.f3b1ec","type":"inject","z":"5b23cafa.be4e04","name":"","topic":"","payload":"{\"a\":1,\"b\":2}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":280,"wires":[["4f187c15.b50ea4"]]},{"id":"53542ff2.7058d","type":"redis-command","z":"5b23cafa.be4e04","server":"831f6c52.8309d","command":"getset","name":"","topic":"timestamp","params":"[]","paramsType":"json","payloadType":"json","block":false,"x":370,"y":380,"wires":[["16ae416d.92585f"]]},{"id":"f3aebd8f.236ca","type":"inject","z":"5b23cafa.be4e04","name":"","topic":"","payload":"{\"name\":\"maks\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":380,"wires":[["53542ff2.7058d"]]},{"id":"16ae416d.92585f","type":"debug","z":"5b23cafa.be4e04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":380,"wires":[]},{"id":"7bae513d.e2106","type":"catch","z":"5b23cafa.be4e04","name":"","scope":null,"uncaught":false,"x":400,"y":220,"wires":[["fca68323.50a55"]]},{"id":"fca68323.50a55","type":"debug","z":"5b23cafa.be4e04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":220,"wires":[]},{"id":"9213522a.a573c","type":"redis-command","z":"5b23cafa.be4e04","server":"831f6c52.8309d","command":"set","name":"","topic":"","params":"[]","paramsType":"json","payloadType":"json","block":false,"x":320,"y":440,"wires":[["a85c833c.481c7"]]},{"id":"a7b7f792.5c6bc8","type":"inject","z":"5b23cafa.be4e04","name":"","topic":"","payload":"[\"key\",\"value\"]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":440,"wires":[["9213522a.a573c"]]},{"id":"a85c833c.481c7","type":"debug","z":"5b23cafa.be4e04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":440,"wires":[]},{"id":"829d531b.69a38","type":"redis-command","z":"5b23cafa.be4e04","server":"831f6c52.8309d","command":"getset","name":"","topic":"","params":"[]","paramsType":"json","payloadType":"json","block":false,"x":330,"y":500,"wires":[["d36b51b7.08704"]]},{"id":"8a9beb41.29c058","type":"inject","z":"5b23cafa.be4e04","name":"","topic":"key","payload":"[\"value\"]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":500,"wires":[["829d531b.69a38"]]},{"id":"d36b51b7.08704","type":"debug","z":"5b23cafa.be4e04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":500,"wires":[]},{"id":"f660b15f.29ee1","type":"redis-command","z":"5b23cafa.be4e04","server":"831f6c52.8309d","command":"hmset","name":"","topic":"","params":"[]","paramsType":"json","payloadType":"json","block":false,"x":350,"y":620,"wires":[["93dbf035.8aa2e"]]},{"id":"7f343ab5.005d84","type":"inject","z":"5b23cafa.be4e04","name":"","topic":"myHash","payload":"{\"a\":1,\"b\":2}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":620,"wires":[["f660b15f.29ee1"]]},{"id":"93dbf035.8aa2e","type":"debug","z":"5b23cafa.be4e04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":620,"wires":[]},{"id":"8b281c9.b1c7ae","type":"inject","z":"5b23cafa.be4e04","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":680,"wires":[["3f031b9f.c93ab4"]]},{"id":"f835fcc6.c14b1","type":"debug","z":"5b23cafa.be4e04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":680,"wires":[]},{"id":"3f031b9f.c93ab4","type":"redis-command","z":"5b23cafa.be4e04","server":"831f6c52.8309d","command":"hgetall","name":"","topic":"curse:PB","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":360,"y":680,"wires":[["f835fcc6.c14b1"]]},{"id":"8ea98a93.af7328","type":"inject","z":"5b23cafa.be4e04","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":740,"wires":[["c0c9595b.ed1e58"]]},{"id":"e3b616a4.560898","type":"debug","z":"5b23cafa.be4e04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":740,"wires":[]},{"id":"c0c9595b.ed1e58","type":"redis-command","z":"5b23cafa.be4e04","server":"831f6c52.8309d","command":"sadd","name":"","topic":"mySet","params":"[\"memberA\",\"memberB\",\"memberC\"]","paramsType":"json","payloadType":"json","block":false,"x":350,"y":740,"wires":[["e3b616a4.560898"]]},{"id":"cd4e05dc.956948","type":"redis-command","z":"5b23cafa.be4e04","server":"831f6c52.8309d","command":"get","name":"","topic":"","params":"[]","paramsType":"json","payloadType":"json","block":false,"x":320,"y":560,"wires":[["f2c53f13.340b3"]]},{"id":"b6186f77.88519","type":"inject","z":"5b23cafa.be4e04","name":"","topic":"key","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":560,"wires":[["cd4e05dc.956948"]]},{"id":"f2c53f13.340b3","type":"debug","z":"5b23cafa.be4e04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":560,"wires":[]},{"id":"f396856e.a45828","type":"redis-lua-script","z":"5b23cafa.be4e04","server":"831f6c52.8309d","name":"test","keyval":0,"func":"local text = \"Hello World\"\nreturn text","stored":true,"block":false,"x":310,"y":860,"wires":[["4ac84c72.2135b4"]]},{"id":"81eb0f01.ef80c","type":"inject","z":"5b23cafa.be4e04","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":860,"wires":[["f396856e.a45828"]]},{"id":"4ac84c72.2135b4","type":"debug","z":"5b23cafa.be4e04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":860,"wires":[]},{"id":"663cd95a.d9c278","type":"inject","z":"5b23cafa.be4e04","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":800,"wires":[["7f762687.afe078"]]},{"id":"5add4aec.f8b5f4","type":"debug","z":"5b23cafa.be4e04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":800,"wires":[]},{"id":"7f762687.afe078","type":"redis-command","z":"5b23cafa.be4e04","server":"831f6c52.8309d","command":"sismember","name":"","topic":"mySet","params":"[\"memberA\"]","paramsType":"json","payloadType":"json","block":false,"x":370,"y":800,"wires":[["5add4aec.f8b5f4"]]},{"id":"4768f0c6.3fb3d","type":"redis-lua-script","z":"5b23cafa.be4e04","server":"831f6c52.8309d","name":"test2","keyval":0,"func":"local text = \"Hello2222 World2222\"\nreturn text","stored":false,"block":false,"x":310,"y":920,"wires":[["8a3d0598.c22338"]]},{"id":"173e673.d8e4699","type":"inject","z":"5b23cafa.be4e04","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":920,"wires":[["4768f0c6.3fb3d"]]},{"id":"8a3d0598.c22338","type":"debug","z":"5b23cafa.be4e04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":920,"wires":[]},{"id":"d5598491.0f2828","type":"redis-in","z":"5b23cafa.be4e04","server":"831f6c52.8309d","command":"psubscribe","name":"","topic":"TOPIC:*","timeout":0,"x":400,"y":100,"wires":[["de8f1fcd.bcb7a"]]},{"id":"de8f1fcd.bcb7a","type":"debug","z":"5b23cafa.be4e04","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":100,"wires":[]},{"id":"5820bea8.941f8","type":"redis-in","z":"5b23cafa.be4e04","server":"831f6c52.8309d","command":"subscribe","name":"","topic":"TOPIC:OK","timeout":0,"x":400,"y":160,"wires":[["ab68bc5b.e3542"]]},{"id":"ab68bc5b.e3542","type":"debug","z":"5b23cafa.be4e04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":160,"wires":[]},{"id":"f4208e0e.ddca6","type":"redis-out","z":"5b23cafa.be4e04","server":"831f6c52.8309d","command":"publish","name":"","topic":"TOPIC:OK","x":130,"y":220,"wires":[]},{"id":"54919418.5e821c","type":"inject","z":"5b23cafa.be4e04","name":"","topic":"","payload":"{\"a\":1,\"b\":2}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":120,"wires":[["f4208e0e.ddca6"]]},{"id":"412514a.4223dec","type":"redis-command","z":"5b23cafa.be4e04","server":"831f6c52.8309d","command":"del","name":"","topic":"","params":"[]","paramsType":"json","payloadType":"json","block":false,"x":320,"y":980,"wires":[["c8f7cf48.9abc4"]]},{"id":"68d47271.466a5c","type":"inject","z":"5b23cafa.be4e04","name":"","topic":"key","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":980,"wires":[["412514a.4223dec"]]},{"id":"c8f7cf48.9abc4","type":"debug","z":"5b23cafa.be4e04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":980,"wires":[]},{"id":"ef8b585b.663748","type":"inject","z":"5b23cafa.be4e04","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":1080,"wires":[["5860ab7b.22cd14"]]},{"id":"5860ab7b.22cd14","type":"function","z":"5b23cafa.be4e04","name":"","func":"let redis = context.flow.get('redis');\n\nredis.info().then((data)=>{\n    msg.payload = data\n    node.send(msg);\n})\n\n/*\nredis.call(\"anycmd\").then((data)=>{\n    msg.payload = data\n    node.send(msg);\n})*/","outputs":1,"noerr":0,"x":310,"y":1080,"wires":[["e7ef3aa0.213588"]]},{"id":"e7ef3aa0.213588","type":"debug","z":"5b23cafa.be4e04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":1080,"wires":[]},{"id":"79e3d3e4.006004","type":"catch","z":"c28fc7d5.366e58","name":"","x":160,"y":500,"wires":[["a9a2f7a7.b23a3"]]},{"id":"a9a2f7a7.b23a3","type":"debug","z":"c28fc7d5.366e58","name":"Debug","active":true,"console":"false","complete":"payload","x":596,"y":498,"wires":[]},{"id":"1db65e48.f42cea","type":"function","z":"c28fc7d5.366e58","name":"confirmation message","func":"context.global.keyboard = { pending : true };\n\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['Yes'],\n      ['No']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\n\nmsg.payload.content = 'Really?';\nmsg.payload.options = opts;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":391,"y":51,"wires":[["43def927.d2fb28"]]},{"id":"e21b8e7b.b5fc3","type":"telegram command","z":"c28fc7d5.366e58","name":"/foo","command":"/foo","bot":"aef21b2.aec0768","strict":false,"x":174,"y":104,"wires":[["1db65e48.f42cea"],["e6f48b69.cdab48"]]},{"id":"e6f48b69.cdab48","type":"function","z":"c28fc7d5.366e58","name":"create response","func":"if(context.global.keyboard.pending)\n{\n    context.global.keyboard.pending = false;\n    \n    if(msg.payload.content === 'Yes')\n    {\n        msg.payload.content = 'Yes';\n        return [msg, null];   \n    }\n    else\n    {\n        msg.payload.content = 'No';\n        return [null, msg];   \n    }\n}\n","outputs":"2","noerr":0,"x":375,"y":110,"wires":[["43def927.d2fb28"],[]]},{"id":"43def927.d2fb28","type":"telegram sender","z":"c28fc7d5.366e58","name":"send response","bot":"aef21b2.aec0768","x":615,"y":104,"wires":[[]]},{"id":"1fea835e.93037d","type":"telegram command","z":"c28fc7d5.366e58","name":"/help","command":"/help","bot":"aef21b2.aec0768","strict":false,"x":170,"y":216,"wires":[["87a55068.e19ac8"],[]]},{"id":"87a55068.e19ac8","type":"function","z":"c28fc7d5.366e58","name":"create help text","func":"\nvar helpMessage = \"/help - shows help\\r\\n\";\nhelpMessage += \"/foo - opens a dialog\\r\\n\";\nhelpMessage += \"Your chat id is \" + msg.payload.chatId;\n\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"You are welcome: \"+msg.originalMessage.from.username;\nhelpMessage += \"\\r\\n\";\n\n\n\nmsg.payload.content = helpMessage;\nreturn msg;","outputs":1,"noerr":0,"x":371,"y":210,"wires":[["43def927.d2fb28"]]},{"id":"b9ba4820.86ac98","type":"telegram receiver","z":"c28fc7d5.366e58","name":"location","bot":"aef21b2.aec0768","saveDataDir":"","x":173,"y":302,"wires":[["df024627.276d5"],[]]},{"id":"df024627.276d5","type":"function","z":"c28fc7d5.366e58","name":"create location message","func":"if(msg.payload.type == 'location')\n{\n    var lat = msg.payload.content.latitude;\n    var lng = msg.payload.content.longitude;\n    \n    msg.payload.type = 'message';\n    msg.payload.content = 'lat=' + lat + ' lon=' + lng;\n    return msg;\n}\nelse\n{\n    return null;\n}\n","outputs":1,"noerr":0,"x":396,"y":302,"wires":[["43def927.d2fb28"]]},{"id":"55950c6b.2a99e4","type":"inject","z":"c28fc7d5.366e58","name":"ping","topic":"","payload":"ping","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":404,"wires":[["aa817614.e35f48"]]},{"id":"aa817614.e35f48","type":"function","z":"c28fc7d5.366e58","name":"send to specific chat","func":"\nmsg.payload = {chatId : 402068128, type : 'message', content : 'ping'}\nreturn msg;","outputs":1,"noerr":0,"x":378,"y":404,"wires":[["43def927.d2fb28"]]},{"id":"93187d92.81d85","type":"http request","z":"17838c19.b5fd5c","name":"Get PB Exchange Rates","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.privatbank.ua/p24api/pubinfo?json&exchange&coursid=5","tls":"","proxy":"","authType":"","x":370,"y":240,"wires":[["aa4253c8.76d2b"]]},{"id":"de8aa6a1.9d379","type":"inject","z":"17838c19.b5fd5c","name":"inject cours ","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":240,"wires":[["93187d92.81d85"]]},{"id":"aa4253c8.76d2b","type":"function","z":"17838c19.b5fd5c","name":"Response build","func":"msg.payload = {\n    dateUpdate: Date.now() / 1000 | 0,\n    bank: \"PrivatBank\",\n    cours: \"cash\",\n    arrayCours: msg.payload\n};\n\nmsg.collection = msg.payload.bank;\n\nmsg.topic = msg.payload.bank + \":\" + msg.payload.ccy;\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":240,"wires":[["5130bf56.e22068"]]},{"id":"d5e4d6e4.fc66c","type":"catch","z":"17838c19.b5fd5c","name":"catch","scope":null,"uncaught":false,"x":130,"y":80,"wires":[["a7ab2cde.737df"]]},{"id":"a7ab2cde.737df","type":"debug","z":"17838c19.b5fd5c","name":"catch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":80,"wires":[]},{"id":"5130bf56.e22068","type":"mongodb3 in","z":"17838c19.b5fd5c","service":"_ext_","configNode":"24097ea.670af82","name":"Inser MongoDB","collection":"","operation":"insertOne","x":800,"y":240,"wires":[["17937e4a.f5f4da"]]},{"id":"17937e4a.f5f4da","type":"debug","z":"17838c19.b5fd5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":240,"wires":[]},{"id":"a66485c7.74b9b8","type":"postgrestor","z":"cfab6f58.ee43a","name":"timescaledb","query":"SELECT * FROM conditions ORDER BY time DESC LIMIT 5;","postgresDB":"1bccac7f.eab4ec","output":true,"outputs":1,"x":500,"y":240,"wires":[["30a9b58c.fd8bfa"]]},{"id":"2d2ffaff.5013c6","type":"inject","z":"cfab6f58.ee43a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":200,"wires":[["a66485c7.74b9b8"]]},{"id":"30a9b58c.fd8bfa","type":"debug","z":"cfab6f58.ee43a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":700,"y":320,"wires":[]},{"id":"146103fb.51d63c","type":"telegram receiver","z":"17838c19.b5fd5c","name":"Start","bot":"f9c6a0d0.e7aa1","saveDataDir":"","x":110,"y":400,"wires":[["4c869d38.b6d714"],[]]},{"id":"25697bba.79eb5c","type":"debug","z":"17838c19.b5fd5c","name":"Create client","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1230,"y":400,"wires":[]},{"id":"51675112.ebfdc8","type":"redis-command","z":"17838c19.b5fd5c","server":"831f6c52.8309d","command":"hmset","name":"Create client","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":1050,"y":400,"wires":[["25697bba.79eb5c"]]},{"id":"f41c00c0.1b2de8","type":"function","z":"17838c19.b5fd5c","name":"Build client data","func":"msg.payload = Object.assign(msg.payload,{\n    date: msg.originalMessage.date,\n    first_name: msg.originalMessage.chat.first_name,\n    username: msg.originalMessage.chat.username,\n    type: msg.originalMessage.chat.type,\n    language_code: msg.originalMessage.from.language_code\n});\n\nmsg.topic = \"client:\" + msg.payload.chatId;\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":380,"wires":[["51675112.ebfdc8"]]},{"id":"96dfd1c8.b1d558","type":"switch","z":"17838c19.b5fd5c","name":"Find command","property":"originalMessage.text","propertyType":"msg","rules":[{"t":"eq","v":"/start","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":600,"y":440,"wires":[["f41c00c0.1b2de8"],["fdd275fc.82c208"]]},{"id":"fdd275fc.82c208","type":"debug","z":"17838c19.b5fd5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":580,"wires":[]},{"id":"3a2b1d66.9aeffa","type":"redis-command","z":"17838c19.b5fd5c","server":"831f6c52.8309d","command":"hgetall","name":"Find client","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":510,"y":320,"wires":[["9814cdee.49f31"]]},{"id":"9814cdee.49f31","type":"debug","z":"17838c19.b5fd5c","name":"1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":400,"y":560,"wires":[]},{"id":"4c869d38.b6d714","type":"function","z":"17838c19.b5fd5c","name":"build key redis","func":"msg.topic = \"client:\" + msg.payload.chatId;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":340,"wires":[["3a2b1d66.9aeffa"]]}]